<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Planit Test Scripts">
    <test name="Page Object Model using By and TestNG">
         <classes>
             <class name="quickstart.Tests.TestCases"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->